*{box-sizing: border-box;}
body{background: #eee;}
/* Buttons */
.btn{
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 0;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	background: transparent;
	color: #303030;
	white-space: nowrap;
	vertical-align: middle;/**/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: #fff;
}
/* Radius */
.radius-2{border-radius:2px;}
.radius-4{border-radius:4px;}
.radius-6{border-radius:6px;}
.radius-8{border-radius:8px;}

/* Colors */
.btn-default, .btn-default-border, .default{color:#333;border-color: #CCC;}
.btn-primary, .btn-primary-border, .primary{background: #3498DB;color:white;}
.btn-success, .btn-success-border, .success{background: #2ECC71;color:white;}
.btn-info, .btn-info-border, .info{background: #5BC0DE;color:white;}
.btn-warning, .btn-warning-border, .warning{background: #F0AD4E;color:white;}
.btn-error, .btn-error-border, .error{background: #E74C3C;color:white;}
.btn-link, .btn-link-border, .link{color: #3498DB;}

/* Btn-Outline */
.btn.btn-outline-default, .btn-outline.default{color: #333;border-color: #CCC;}
.btn-outline-primary, .btn-outline.primary{color: #3498DB;border-color: #3498DB;}
.btn-outline-success, .btn-outline.success{color: #2ECC71;border-color: #2ECC71;}
.btn-outline-info, .btn-outline.info{color: #5BC0DE;border-color: #5BC0DE;}
.btn-outline-warning, .btn-outline.warning{color: #F0AD4E;border-color: #F0AD4E;}
.btn-outline-error, .btn-outline.error{color: #E74C3C;border-color: #E74C3C;}
.btn-outline-link, .btn-outline.link{color: #3498DB;}

.btn.btn-outline-default:hover, .btn.btn-outline.default:hover{background: #CCC;color:#151515;}
.btn.btn-outline-primary:hover, .btn.btn-outline.primary:hover{background: #3498DB;color:white;}
.btn.btn-outline-success:hover, .btn.btn-outline.success:hover{background: #2ECC71;color:white;}
.btn.btn-outline-info:hover, .btn.btn-outline.info:hover{background: #5BC0DE;color:white;}
.btn.btn-outline-warning:hover, .btn.btn-outline.warning:hover{background: #F0AD4E;color:white;}
.btn.btn-outline-error:hover, .btn.btn-outline.error:hover{background: #E74C3C;color:white;}
.btn.btn-outline-link:hover, .btn.btn-outline.link:hover{background: #3498DB;color:white;}

/* btn:hover */
.btn.btn-default:hover{border-color: #8C8C8C;background: #E6E6E6;color: #333;}
.btn.btn-primary:hover{border: 1px solid #2980B9;background: #2980B9;}
.btn.btn-success:hover{border: 1px solid #27AE60;background: #27AE60;}
.btn.btn-info:hover{border: 1px solid #53AFCA;background: #53AFCA;}
.btn.btn-warning:hover{border: 1px solid #D39745;background: #D39745;}
.btn.btn-error:hover{border: 1px solid #C0392B;background: #C0392B;}
.btn.btn-link:hover{text-decoration: underline;}

.btn.btn-default-border:hover{border-color: black;background: #8C8C8C;color: #fff;}
.btn.btn-primary-border:hover{border: 1px solid #3498DB;background: #fff;color: #3498DB;}
.btn.btn-success-border:hover{border: 1px solid #1EBC61;background: #fff;color: #1EBC61;}
.btn.btn-info-border:hover{border: 1px solid #5BC0DE;background: #fff;color: #5BC0DE;}
.btn.btn-warning-border:hover{border: 1px solid #F0AD4E;background: #fff;color: #F0AD4E;}
.btn.btn-error-border:hover{border: 1px solid #F35369;background: #fff;color: #F35369;}
.btn.btn-link-border:hover{border: 1px solid #3498DB;}

/*Group*/
.btn-group, form-control{
	/*position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;*/
	border:1px solid #8C8C8C;
	padding:0px;
	border-radius:8px;
	background: #8C8C8C;
	overflow: hidden;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}
.btn-group>.btn{border:none;border-radius:0;}/*TEST DELETE LATER*/
.btn-group>.btn:hover{border:0;}
.btn-group>.btn:not(:first-child){margin-left:1px;}
.btn-group:not(:first-child)>.btn:not(:first-child){border-bottom-left-radius: 0;border-top-left-radius: 0;}
.btn-group:not(:last-child)>.btn:not(:last-child){border-bottom-right-radius: 0;border-top-right-radius: 0;}
.btn-group>.btn:not(:first-child){border-left:0;}

.form-control{
	border: 1px solid #E0E0E0;
	padding: 10px 10px;
	text-decoration: none;
	text-align: left;
	font-size: 16px;
	background: #fff;
	color: #303030;
	border-radius: 4px;
	display:inline-flex;
}

/* form.form-control.stacked */
.form-control.stacked{
	width: 100%;
	max-width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-o-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-direction: normal;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: row wrap;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.form-control.stacked>:first-child{margin-bottom:5px;}
.form-control.stacked>:last-child{margin-top:5px;}

/* form.form-control.inline */
.form-control.inline>*:not(:first-child){margin-left: 15px;}

/* form.form-control.nexto */
.form-control.nexto>*:not(:first-child){border-top-left-radius: 0;border-bottom-left-radius: 0;margin-left:-1px;}
.form-control.nexto>*:not(:last-child){border-top-right-radius: 0;border-bottom-right-radius: 0;}

/* form.form-control.color.[color] */
.form-control.color.turquoise>*:first-child{border-color: #1abc9c;}
.form-control.color.yellow>*:first-child{border-color: #f1c40f;}
.form-control.color.green>*:first-child{border-color: #2ecc71;}
.form-control.color.orange>*:first-child{border-color: #e67e22;}
.form-control.color.blue>*:first-child{border-color: #3498DB;}
.form-control.color.red>*:first-child{border-color: #E74C3C;}
.form-control.color.purple>*:first-child{border-color: #9b59b6;}
.form-control.color.gray>*:first-child{border-color: #ecf0f1;}
.form-control.color.dark>*:first-child{border-color: #34495e;}
.form-control.color.gray-dark>*:first-child{border-color: #95a5a6;}

.btn.color{color:white;}
.btn.color.turquoise{background: #1abc9c;}
.btn.color.sunflower,.btn.color.yellow{background: #f1c40f;}
.btn.color.emerland,.btn.color.green{background: #2ecc71;}
.btn.color.carrot,.btn.color.orange{background: #e67e22;}
.btn.color.peterriver,.btn.color.blue{background: #3498db;}
.btn.color.alizarin,.btn.color.red{background: #e74c3c;}
.btn.color.amethyst,.btn.color.purple{background: #9b59b6;}
.btn.color.clouds,.btn.color.gray{background: #ecf0f1;color:#303030;}
.btn.color.wetasphalt,.btn.color.dark{background: #34495e;}
.btn.color.concrete,.btn.color.gray-dark{background: #95a5a6;}

.btn.color.turquoise:hover{background: #16a085;}
.btn.color.sunflower:hover,.btn.color.yellow:hover{background: #f39c12;}
.btn.color.emerland:hover,.btn.color.green:hover{background: #27ae60;}
.btn.color.carrot:hover,.btn.color.orange:hover{background: #d35400;}
.btn.color.peterriver:hover,.btn.color.blue:hover{background: #2980b9;}
.btn.color.alizarin:hover,.btn.color.red:hover{background: #c0392b;}
.btn.color.amethyst:hover,.btn.color.purple:hover{background: #8e44ad;}
.btn.color.clouds:hover,.btn.color.gray:hover{background: #bdc3c7;color:#fff;}
.btn.color.wetasphalt:hover,.btn.color.dark:hover{background: #2c3e50;}
.btn.color.concrete:hover,.btn.color.gray-dark:hover{background: #7f8c8d;}

input.input-text{
	border-radius: 4px;
	border: 1px solid #CCC;
	background: #F9F9F9;
	color:#303030;
	padding: 10px;
	text-decoration: none;
	text-align: left;
	font-size: 1em;
}


/* FLAT UI COLORS
Turquoise 	1abc9c 	-> Greensea 	16a085 turquoise
Sunflower 	f1c40f 	-> Orange 		f39c12 yellow
Emerland 	2ecc71 	-> Nephritis 	27ae60 green
Carrot 		e67e22	-> Pumpkin 		d35400 orange
Peterriver 	3498db 	-> Belizehole 	2980b9 blue
Alizarin 	e74c3c 	-> Pomegranate 	c0392b red
Amethyst 	9b59b6 	-> Wisteria 	8e44ad purple
Clouds 		ecf0f1	-> Silver 		bdc3c7 gray
Wetasphalt 	34495e 	-> Midnightblue 2c3e50 gray-blue black-blue
Concrete 	95a5a6 	-> Asbestos 	7f8c8d gray-dark

SOCIAL COLORS
Facebook 	3b5999
Messenger 	0084ff
Twitter 	55acee
Linkedin 	0077B5
Skype 		00AFF0
Dropbox 	007ee5
Wordpress 	21759b
Vimeo 		1ab7ea
SlideShare 	0077b5
VK 			4c75a3
Tumblr 		34465d
Yahoo 		410093
Google Plus	dd4b39
Pinterest 	bd081c
YouTube 	cd201f
StumbleUpon eb4924
Reddit 		ff5700
Quora 		b92b27
Yelp 		af0606
Weibo 		df2029
ProductHunt da552f
HackerNews 	ff6600
SoundCloud 	ff3300
Blogger 	f57d00
WhatsApp 	25D366
WeChat 		09b83e
Line 		00c300
Medium 		02b875
Slack 		3aaf85
Instagram 	e4405f
Dribbble 	ea4c89
Flickr 		ff0084
FourSquare 	f94877
Behance 	131418
SnapChat 	FFFC00
*/